@tailwind base;
.home{
    padding-top: 15vh;
    width: 100%;
    height: 100vh;
    text-align: center;
}
.home img{
    width: 50%;
    height: 50%;

    border-radius: 0%;
}

@layer base{
    body{
        @apply font-primary bg-primary text-white leading-loose;
    }
    .h1{
        @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
    }
}