*{
  margin: 0;
  font-family: sans-serif;
}

header{
  width: 100%;
  background-color: #272727;
  padding: 30px;
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  position: fixed;
  
}
header,nav,a{
  padding-right: 20%;
  font-size: 20px;
  color: aliceblue;
  transition-duration: 1s;
  text-decoration: none;
}
header,nav,a:hover{
  padding-right: 20%;
  font-size: 30px;
  color: #c52b73;
  
}
header,nav,a:active{
  padding-right: 50%;
  font-size: 30px;
  color: #C5832B;
  
}
.title{
  font-size: 30px;
  margin-bottom: 20px;
  color: aliceblue;
  transition-duration: 1s;
}
.title:hover{
  color: #c52b73;
}

content{
  background-color:  #EFF1F3;
  padding: 20px;
  width: 100vh;
  height: 100vh;
  margin-top: 1000px;
}

footer{
  background-color: #272727;
  padding: 30px;
  color: aliceblue;
  font-size: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
}